{% extends "main/base.html" %}

{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}



{% block content %}
<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            {% if user.is_authenticated %}
                            <h1>You have to logout First</h1>
                            <a href="{% url 'main:logout' %}"><p>Click to logout.</p></a>
                            {% else %}
                            <div class="alert alert-success" role="alert">
                                Your password has been successfully reset.
                            </div>
                            <a class="small" href="{% url 'main:login' %}">Go back to the login page</a></div>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}