{% extends "management/base_panel.html" %}


{% block panel_content %}
<h2>Performance Compared to the Full Mark:</h2>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<hr>
<canvas id="labelChart"></canvas>
{% endblock panel_content %}

{% block extra_js %}
<script>
    var ctxP = document.getElementById("labelChart").getContext('2d');
var myPieChart = new Chart(ctxP, {
  plugins: [ChartDataLabels],
  type: 'pie',
  data: {
    labels: [{% for course in courses_list %} "{{ course }}", {% endfor %}],
    datasets: [{
      data: [{% for grade in grades_list %} {{ grade }}, {% endfor %}],
      backgroundColor: [{% for colour in hex_colours %} "{{ colour }}", {% endfor %}],
      hoverBackgroundColor: [{% for colour in hex_colours %} "{{ colour }}", {% endfor %}]
    }]
  },
  options: {
    responsive: true,
    legend: {
      position: 'right',
      labels: {
        padding: 20,
        boxWidth: 10
      }
    },
    plugins: {
      datalabels: {
        formatter: (value, ctx) => {
          let sum = 0;
          let dataArr = ctx.chart.data.datasets[0].data;
          dataArr.map(data => {
            sum += data;
          });
          let percentage = (value * 100 / sum).toFixed(2) + "%";
          return percentage;
        },
        color: 'white',
        labels: {
          title: {
            font: {
              size: '16'
            }
          }
        }
      }
    }
  }
});
</script>
{% endblock extra_js%}