{% extends "management/base_panel.html" %}


{% block panel_content %}
<h2>Assessment Description</h2>
{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
<hr>
<form method="post">{% csrf_token %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% if field.field.widget.input_type == 'hidden'%}
    {% else %}
    <div class="form-group">
        <label for="{{ field.html_name }}">{{ field.label }}:</label><br>
        {{ field }}
    </div>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Add</button>

</form>

{% endblock %}