{% extends "management/base_panel.html" %}


{% block panel_content %}
        <h2>Grade classes' database: Number of grade classes ({{ grade_classes.count }}).</h2>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <hr>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Grade class name</th>
                <th scope="col">Grade level name</th>
                <th scope="col">Edit/Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for grade_class in grade_classes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <th>
                    <a href="{% url 'main:management:edit_grade_class' grade_class.id %}">{{ grade_class.grade_class_name }}</a>
                </th>
                <th>{{ grade_class.grade_level }}</th>
                <th>
                    <a href="{% url 'main:management:edit_grade_class' grade_class.id %}" class="btn btn-info">Edit</a>
                    <a href="{% url 'main:management:delete_grade_class' grade_class.id %}" class="btn btn-danger">Delete</a>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}