{% extends "main/base.html" %}

{% load static %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'main/css/login.css' %}">
{% endblock %}


{% block content %}


<div class="container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">

                            {% if user.is_authenticated %}
                            <h1>You have to logout First</h1>
                            <a href="{% url 'main:logout' %}"><p>Click to logout.</p></a>
                            {% else %}
                            <h3 class="login-heading mb-4">Welcome back!</h3>
                            {% if form.errors %}
                            <p>Your identifier and password didn't match. Please try again.</p>
                            {% endif %}
                            <form method="post" action="{% url 'main:login' %}">{% csrf_token %}

                                {% for field in form %}
                                {{ field.errors }}
                                <div class="form-label-group">
                                    <input type="{{ field.field.widget.input_type }}" name="{{ field.html_name }}"
                                           id="{{ field.id_for_label }}" class="form-control" value="">
                                    <label for="{{ field.html_name }}">{{ field.html_name }}</label>
                                </div>
                                {% endfor %}

                                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2"
                                        type="submit" value="login">Login
                                </button>
                                <input type="hidden" name="next" value="{{ next }}"/>
                                <div class="text-center">
                                    <a class="small" href="{% url 'main:password_reset' %}">Forgot password?</a></div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
{% endblock %}